body{
font-family: Arial;
margin:0;
background:#f5f6fa;
}

header{
background:#1e272e;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#485460;
text-align:center;
}

nav button{
padding:10px 15px;
margin:5px;
border:none;
background:#0be881;
cursor:pointer;
}

.container{
padding:20px;
}

.hidden{
display:none;
}

.card{
background:white;
padding:15px;
margin:10px 0;
border-radius:6px;
}

.progress{
background:#ddd;
height:20px;
border-radius:10px;
}

.bar{
height:100%;
border-radius:10px;
}

.python{
width:40%;
background:#3c40c6;
}

.sql{
width:30%;
background:#05c46b;
}

.powerbi{
width:20%;
background:#ffa801;
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

th, td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

.course{
background:white;
padding:15px;
margin:10px 0;
}
